/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-content {justify-content: space-around;}
.mat-card-title {display: block;margin-bottom: 8px;font-size: 15px;}
.mat-form-field-flex {display: inline-flex; align-items: baseline;box-sizing: border-box; width: calc(90% + 343px) !important;}
textarea.mat-input-element {height: 400px !important;}

