.menu{margin: 30px 0;display: flex; justify-content: space-between;}
.acc {display: flex; flex-direction: column;}
.borderRed{border: 1px solid red !important;}
.borderGreen{border: 1px solid green !important;}
.borderBlue{border: 1px solid blue !important;}
.borderGrey{border: 1px solid grey !important;}
.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }