<div class="container">
  <header class="jumbotron">
    <h1>hello {{user}}</h1>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="List patient">
        <h2>List of patient:</h2>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let panel of patient; ; index as i">
            
            <mat-expansion-panel-header  (click)="EditForm(panel.note)"  (focus)="getListPatient()"
            [ngClass]="{'borderRed': panel.category ==='In Danger' , 'borderGreen': panel.category ==='None', 'borderGrey': panel.category ==='Borderline', 'borderBlue': panel.category ==='Early onset'}">
              Patient {{i+1}} -- {{panel?.firstName}}: {{panel.lastName}} <button >Category: {{panel.category}}</button>
            </mat-expansion-panel-header>
            <div class="acc">
              Dob: {{panel.dob}} <br />
              Sex: {{panel.sex}} <br />
              Phone: {{panel.phone}} <br />
              address: {{panel.address}} <br />
              <mat-card class="example-card">
                <mat-card-title>Notes created: {{panel.createDate}}</mat-card-title>
                <mat-card-title>Notes update: {{panel.updateDate}}</mat-card-title>
                <mat-card-content>
                  <form [formGroup]="notesForm"  >
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>This note: </mat-label>
                      <textarea matInput placeholder="" formControlName="notes" > </textarea>
                    </mat-form-field>
                  </form>

                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                  <button mat-button (click)="onSubmitNote(panel.id)">SAVE</button>
                </mat-card-actions>
                <mat-card-footer>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
              </mat-card>
            </div>
          
          </mat-expansion-panel>

        </mat-accordion>
      </mat-tab>
      <mat-tab label="Create patient">
        <form [formGroup]="patientForm" >
          <div class="form-group">
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>first Name</mat-label>
              <input matInput type="text" formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>last Name</mat-label>
              <input matInput type="text" formControlName="lastName">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              Date
              <input matInput [matDatepicker]="picker" formControlName="dob" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-select placeholder="sex" formControlName="sex" (selectionChange)="onChangeEventSex($event)">
                <mat-option [value]="'m'">Men</mat-option>
                <mat-option [value]="'w'">Woman</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput type="text" formControlName="address">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Phone</mat-label>
              <input matInput type="text" formControlName="phone">
            </mat-form-field>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="onFormSubmit()">
              Save
            </button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>

  </header>
</div>